<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>FORM Text</title>
	<link rel="stylesheet" id="templatecss" type="text/css" href="../static/basic.css">
</head>
<body>
	<form action="/" method="post" class="basic-grey">
		<h1>模版匹配</h1>
		<p>手机号或用户子id: <br><input type="text" name="arg" size="45"/></p>
<!--        <p>用户子id: <br><input type="text" name="subid" size="25" /></p>-->
<!--        <p>短信文本: <br><textarea name="text" rows="10" cols="50"></textarea></p>-->
      <button type="submit" style="font-size: 16px" class="button">开始匹配</button>
	</form>
</body>
</html>